fastapi
uvicorn
ollama
httpx
pydantic
pydantic-settings


python-multipart
python-dotenv
sqlalchemy
pytest
chromadb-client

pypdf2
google-auth
google-auth-oauthlib
google-api-python-client
msal




feedparser
python-dateutil
bs4

icalendar
